.cellContainer {
  box-sizing:border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  z-index: 2;
  overflow: hidden;
  margin: 0;/*This fix grid decimals, When they are "Re-builded"*/
  border-radius: 26px;
  background-color: hsl(0,0%,100%) !important;
}
.cell {
  box-sizing: border-box;
  border: 1px dashed hsl(0,81.82%,32.35%);
  background-color: hsl(0,0%,100%);
  z-index: 4;
  margin: 0; /*This fix grid decimals, When they are "Re-builded"*/
  overflow: hidden;
}
.defaultBlackColor {
  background-color:hsl(0,0%,0%) !important;
}
.deleteWhiteColor {
  background-color: hsl(0,0%,100%) !important;
}
