.cellContainer {
  box-sizing:border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  z-index: 2;
  overflow: hidden;
  margin: 0;/*This fix grid decimals, When they are "Re-builded"*/
  border-radius: 26px;
  background-color: #ffffff !important;
}
.cell {
  box-sizing: border-box;
  border: 1px dashed #960f0f;
  background-color: #ffffff;
  box-sizing:border-box;
  z-index: 4;
  margin: 0; /*This fix grid decimals, When they are "Re-builded"*/
  overflow: hidden;
}
.defaultBlackColor {
  background-color: #000000 !important;
}
.deleteWhiteColor {
  background-color: #ffffff !important;
}
