.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color:hsl(0,0%,100%);
  width: 111px;
  height: 126px;
  border: 1px solid hsl(5.59,100%,54.43%);
  border-radius: 40%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.button {
  text-align: center;
  width: 56px;
  height: 26px;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 24px;
  color:hsl(0,0%,0%);
  padding: 4px;
  border-radius: 17%;
  background:hsl(5.59,100%,54.43%);
}

.centerButton {
  width: 89px;
  height: 25px;
  border-radius: 22%;
}
.none {
  display: none;
}
