.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: #ffffff; 
  width: 121px;
  height: 126px;
  border: 1px solid rgb(216, 25, 25);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  
}

.button {
  text-align: center;
  width: 56px;
  height: 18px;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 20px;
  color:#ffffff;
  padding: 4px;

  border-radius: 17%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.75) 0%, rgba(253,29,29,0.85) 50%, rgba(255,255,255,0.75) 100%);
}

.centerButton {
  width: 89px;
  height: 22px;
  border-radius: 22%;
}
.none {
  display: none;
}
