* {
  margin: 0;
  padding: 0;
  font-family: 'Cabin Sketch', cursive;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:hsl(186.78,57.21%,39.41%);
  overflow: hidden; /* for mouse over*/
  background-image: url(https://fenush.github.io/Project-03/etchAsketch.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 695px;
}
.absolutePosition{
  text-align: center;
  background-color:hsl(5.59,100%,54.43%);
  position: absolute;top: 47,21%; left: calc(50%-40px);
  z-index: 6;
  font-size: 44px;
  padding: 8px 6px;
  border-radius: 10px;
}

