* {
  margin: 0;
  padding: 0;
  font-family: 'Cabin Sketch', cursive;
  color white;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(43, 145, 158);
  overflow: hidden; /* for mouse over*/
  background-image: url(/etchAsketch.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 695px;
}
